flows.json
[{"id":"a45c3ee.9b0a6c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"18a40033.1ffe7","type":"http in","z":"a45c3ee.9b0a6c","name":"Webhooks","url":"/line_hook","method":"post","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["31e8984f.aba3d8"]]},{"id":"31e8984f.aba3d8","type":"function","z":"a45c3ee.9b0a6c","name":"getText","func":"//flowへ格納\nflow.set(\"replyToken\",msg.payload.events[0].replyToken);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":120,"wires":[["9e147d6f.13cef","f3f334b8.2b1948","71a64d0e.702104"]]},{"id":"9e147d6f.13cef","type":"debug","z":"a45c3ee.9b0a6c","name":"","active":true,"console":"false","complete":"false","x":450,"y":40,"wires":[]},{"id":"f3f334b8.2b1948","type":"http response","z":"a45c3ee.9b0a6c","name":"","x":490,"y":120,"wires":[]},{"id":"6bc6680c.d667b8","type":"http request","z":"a45c3ee.9b0a6c","name":"Reply Message","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.line.me/v2/bot/message/reply","tls":"","persist":false,"proxy":"","authType":"","x":658,"y":226,"wires":[["45990884.fa6c38"]]},{"id":"6c7f61e9.28635","type":"function","z":"a45c3ee.9b0a6c","name":"createReplyMessage","func":"//flowから取り出す\nvar output_text = flow.get(\"text\");\n\nvar post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"NjLt1eLM14b8EXUHTKnBmh5F1u5M0xnkQbwFrkZ4Bf6KFAAlGTp+2oTNafdj5frQXX6aGYIfw6BBSnQs2Bb2L33Xc8I8AFQqychs0W6R63PkME/c9aZ6hL4VbMX0PoOyoIbZvNSt4YFG5jdj7frd6AdB04t89/1O/w1cDnyilFU=\"\n    },\n    \"payload\": {\n        //\"replyToken\": msg.payload.events[0].replyToken,\n        \"replyToken\": flow.get(\"replyToken\"),\n        \"messages\": [\n            {\n                \"type\": \"text\",\n                \"text\": msg.payload.optext\n            }\n        ]\n    }\n};\n\nreturn post_request;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":518,"y":306,"wires":[["6bc6680c.d667b8"]]},{"id":"45990884.fa6c38","type":"debug","z":"a45c3ee.9b0a6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"4ab60cc7.562c84","type":"watson-conversation-v1","z":"a45c3ee.9b0a6c","name":"","workspaceid":"e13262d3-e6e1-4ad5-b460-9561ffefbdb1","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":278,"y":306,"wires":[["d9f5157b.e7e2d8"]]},{"id":"2ea3c043.eae34","type":"debug","z":"a45c3ee.9b0a6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":768,"y":406,"wires":[]},{"id":"d9f5157b.e7e2d8","type":"change","z":"a45c3ee.9b0a6c","name":"Watsonの戻り値から変数に格納","rules":[{"t":"set","p":"payload.optext","pt":"msg","to":"payload.output.text.0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":448,"y":406,"wires":[["2ea3c043.eae34","6c7f61e9.28635"]]},{"id":"71a64d0e.702104","type":"change","z":"a45c3ee.9b0a6c","name":"Watson向けにパラメータ入替え","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.events.0.message.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":220,"wires":[["4ab60cc7.562c84"]]}]